doctype html
html
    include ./includes/head.jade
    body
        .container
            include ./includes/header.jade
            h3.
                Channels:
            table
                tbody
                    each channel in channels
                        tr 
                            td 
                                a(href=url+channel.channel) #{channel.channel}