doctype html
html
    include ./includes/head.jade
        style.
            table td{
                padding: 5px;
            }
    body
        .container
            include ./includes/header.jade
            p Here is a list of the avaliable URLs
            table
                each url in urls
                    tr 
                        td 
                            b #{url[0]}
                        td 
                            a(href=url[1])
                                i #{url[1]}
                        td -
                        td #{url[2]}