doctype html
html
    include ./includes/head.jade
    body
        .container
            include ./includes/header.jade
            h3 Chat Logs:
            table
                tbody
                    each record in records
                        tr 
                            td 
                                a(href="/logger/"+record.channel+"/#{record.date.split('/').join('_')}") #{record.date}